/local-github-process/sec.txt
/local-github-process/sonarqube/
/local-github-process/.env
/local-github-process/docker-compose.yml
/.idea/
/.sonarlint/
/.vscode/
/local-github-process/
/.idea/
/dependencies/
