/local-github-process/sec.txt
/old/update-local-repo copy.yml
/old/snowflake-clone-db_v1 copy.sh
/old/snowflake-clone-db_v1 copy.sh
/old/snowflake-clone-db_v1 copy 2.sh
/old/snowflake-clone-db_v1 copy.sh
/old/snowflake-clone-db_v1 copy 2.sh
/old/update-local-repo copy.yml
/old/
